.btn
    color: #fff
    background: linear-gradient(to bottom, #f0bf2c, #efd23f)
    border-radius: 30px
    padding: 10px 20px
    text-transform: uppercase
    font-weight: 700
    position: relative
    // overflow: hidden
    transition: all 0.5s

.btn._calc
    outline: none !important
    padding-right: 60px
    white-space: nowrap
    &::after
        content: ''
        position: absolute
        top: 50%
        right: 8%
        transform: translateY(-50%)
        height: 25px
        width: 25px
        background: url('../assets/images/btn/btn__calc.png')

    &:focus
        outline: none !important
        box-shadow: none !important

.btn._next
    color: #000
    background: #e8e8e8
    padding-right: 70px
    &::after
        content: ''
        position: absolute
        top: 50%
        right: 14%
        transform: translateY(-50%)
        width: 25px
        height: 12px
        background: url('../assets/images/btn/btn__next.png')

.btn._file
    padding-left: 65px
    text-transform: none
    color: #a17e15
    // box-shadow: 0px 27px 14px 23px rgba(161, 126, 21, 0.2)
    &::after
        content: ''
        position: absolute
        top: 65%
        left: -2%
        transform: translateY(-50%)
        width: 56px
        height: 70px
        background: url('../assets/images/btn/btn__file.png')



@media screen and (max-width: 550px)
    .btn._calc
        width: fit-content
        font-size: 12px