@keyframes slideme
    0%
        left: -30px
        margin-left: 0
    30%
        left: 110%
        margin-left: 80px
    100%
        left: 110%
        margin-left: 80px

.btn
    color: #fff
    background: linear-gradient(to bottom, #f0bf2c, #efd23f)
    border-radius: 30px
    padding: 10px 20px
    text-transform: uppercase
    font-weight: 700
    position: relative
    // overflow: hidden
    transition: all 0.5s
    &:focus
        box-shadow: none

.btn._calc
    border: none
    overflow: hidden
    outline: none !important
    padding-right: 60px
    white-space: nowrap
    &::before
        content: ""
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: #fa4923
        opacity: 0
        z-index: 1
        -webkit-transition: ease 0.3s
        transition: ease 0.3s
    &::after
        content: ""
        display: block
        width: 30px
        height: 300px
        margin-left: 60px
        background: #fff
        position: absolute
        left: -40px
        top: -150px
        z-index: 1
        -webkit-transform: rotate(45deg)
        transform: rotate(45deg)
        -webkit-transition: all 0.1s
        transition: all 0.1s
        -webkit-animation-name: slideme
        animation-name: slideme
        -webkit-animation-duration: 3s
        animation-duration: 3s
        -webkit-animation-delay: 0.05s
        animation-delay: 0.05s
        -webkit-animation-timing-function: ease-in-out
        animation-timing-function: ease-in-out
        -webkit-animation-iteration-count: infinite
        animation-iteration-count: infinite
    & span
        &::after
            content: ''
            position: absolute
            top: 50%
            right: 8%
            transform: translateY(-50%)
            height: 25px
            width: 25px
            background: url('../assets/images/btn/btn__calc.png')

    &:focus
        outline: none !important
        box-shadow: none !important



.btn._next
    // color: #000
    background: #e8e8e8
    padding-right: 70px
    &::after
        content: ''
        position: absolute
        top: 50%
        right: 14%
        transform: translateY(-50%)
        width: 25px
        height: 12px
        background: url('../assets/images/btn/btn__next.png')

.btn._file
    padding-left: 65px
    text-transform: none
    color: #a17e15
    // box-shadow: 0px 27px 14px 23px rgba(161, 126, 21, 0.2)
    &::after
        content: ''
        position: absolute
        top: 65%
        left: -2%
        transform: translateY(-50%)
        width: 56px
        height: 70px
        background: url('../assets/images/btn/btn__file.png')

@media screen and (max-width: 550px)
    .btn._calc
        width: fit-content
        font-size: 12px
