.modal
    &__overlay
        z-index: 10
        background: rgba(0,0,0,0.5)
        //position: fixed
        //top: 0
        //left: 0
        //width: 100%
        //height: 100%
        //transform: scale(0)
    &__overlay._active
        //transform: scale(1)
    &__window
        margin: 0 auto
        margin-bottom: 70px
        border-radius: 20px
        padding: 50px 80px
        background: #fff
        //position: fixed
        //top: 50%
        //left: 50%
        //transform: translate(300%,0)
        transition: all 0.5s
        z-index: 50
        box-shadow: 0px 27px 14px 14px rgba(0, 0, 0, 0.2)
    &__window._active
        //transform: translate(-50%,-50%)

    &__title
        text-transform: uppercase
        font-size: 25px
        font-weight: 700
        text-align: center
    &__subtitle
        margin-top: 30px
        text-align: center
        font-size: 18px
        font-weight: 500
    &__choose
        margin-bottom: 30px
        margin-top: 60px
        display: flex
        justify-content: center
        &-item
            cursor: pointer
            display: flex
            align-items: center
            position: relative
            h4
                pointer-events: none
                transition: all 0.5s
                &:hover
                    background: linear-gradient(to bottom, #f0bf2c, #efd23f)
                    color: white
            h4._active
                background: linear-gradient(to bottom, #f0bf2c, #efd23f)
                color: white
                //transform: scale(1.1)
            &-icon
                pointer-events: none
            &_roof
                &::before
                    z-index: 1
                    content: ''
                    position: absolute
                    bottom: -59%
                    left: -46%
                    width: 102px
                    height: 50px
                    background: url('../assets/images/modal/modal__goto.png')
                &::after
                    z-index: 1
                    content: ''
                    position: absolute
                    bottom: -356%
                    left: -167%
                    width: 244px
                    height: 276px
                    background: url('../assets/images/modal/modal__present.png')

            &_water
                margin-left: 20px
                &::before,&::after
                    display: none

                h4
                    position: relative
                    background: #ffffff

                    &:after
                        content: ' '
                        pointer-events: none
                        z-index: -1
                        position: absolute
                        height: 153px
                        width: 206px
                        right: -191px
                        top: -100px
                        background: url('../assets/images/modal/modal__present-mobile.png') no-repeat
                        background-size: 100% 100%

            h4
                font-size: 12px
                font-weight: 500
                border: 1px solid #e5e5e5
                padding: 10px
                border-radius: 20px
    &__input
        color: #000
        padding: 10px 20px
        border: #f2f2f2 2px solid
        border-radius: 20px
        margin-top: 10px
        // max-width: 300px
        width: 100%
        &:focus
            outline: none
    &__btn
        margin-top: 30px
    &__terms
        margin-top: 20px
        color: #bebebe
        text-align: center
        font-size: 10px
        font-weight: 500

@media screen and ( min-width: 768px )
    .modal__choose-item_water h4:after
        display: none

@media screen and ( max-width: 767px )
    .modal
        &__title
            font-size: 20px
        &__subtitle
            text-align: left
            font-size: 18px
        &__window
            padding: 20px
        &__choose
            margin-top: 20px
            flex-direction: column
            &-item
                &_roof
                    &::after,&::before
                        display: none
                &_water
                    margin-left: 0
                    &::after
                        display: block
                        z-index: 1
                        content: ''
                        position: absolute
                        bottom: -59%
                        left: 51%
                        width: 244px
                        height: 276px
                        transform: scale(0.5)
                    &::before
                        display: block
                        content: ''
                        position: absolute
                        right: 16%
                        top: 55%
                        width: 102px
                        height: 50px
        &__btn
            font-size: 13px
            white-space: nowrap

    .quiz
        &__success
            25px

@media screen and ( max-width: 576px )
    .modal
        &__title
            font-size: 20px
