.quiz
    margin-top: -150px
    &__btn._next
        position: absolute !important
        bottom: 5% !important
        z-index: 50
        color: rgba(0,0,0,0.2)
        &::after
            opacity: 0
    &__btn._active._next
        color: #000
        &::after
            opacity: 1
    &__input-size
        height: 80px
        margin: auto
        // max-width: 502px
        max-width: 430px
        margin-top: 40px
        position: relative
        &-base
            pointer-events: none
            content: ''
            position: absolute
            top: -78%
            left: 0
            width: 70px
            height: 72px
            background: url('../assets/images/quiz/quiz__track-base.png')
            background-repeat: no-repeat
        &-line
            position: absolute
            bottom: 79%
            height: 20px
            // margin-left: 13%
            margin-left: 50px
            margin-top: 16%
            // max-width: 87%
            max-width: 360px
            background: url('../assets/images/quiz/quiz__track-line.png') no-repeat
            z-index: -1
        &-track
            background: transparent
            display: block
            margin-left: 43px
            height: 150px !important
            margin-top: -17% !important
            cursor: grab !important
            width: 360px
            // max-width: 87%
            appearance: none
            position: relative
            z-index: 1
            &:focus
                outline: none !important
                // border: none
                // background: none
            &::-webkit-slider-thumb
                appearance: none
                height: 9px
                width: 10px
                background: url('../assets/images/quiz/quiz__track.png')
        &::before
            content: ''
            position: absolute
            top: -39%
            left: 50px
            // left: 5%
            background: url('../assets/images/quiz/quiz__track-bg.png') no-repeat
            // width: 93%
            width: 360px
            height: 40px
            z-index: -1

    &__success
        color: #e6b315
        font-size: 34px
        text-align: center
        text-transform: uppercase
        font-weight: 700
        position: relative
        transform: scale(0)
        // box-shadow: 0px 27px 14px 23px rgba(161, 126, 21, 0.2)
    &__success._active
        transition: all 0.5s
        transform: scale(1)
        &::before
            content: ''
            position: absolute
            left: -18%
            top: 37%
            transform: translateY(-50%)
            width: 39px
            height: 75px
            background: url('../assets/images/quiz/quiz__success-light-left.png')
        &::after
            content: ''
            position: absolute
            right: -18%
            top: 37%
            transform: translateY(-50%)
            width: 39px
            height: 75px
            background: url('../assets/images/quiz/quiz__success-light-right.png')
    .modal__window
        max-width: 468px
    &__stage
        overflow: hidden
    .img-center
        pointer-events: none
        display: block
        margin: auto
    &__title
        pointer-events: none
        margin-top: 100px
        text-align: center
        text-transform: uppercase
        font-weight: 700
    &__container
        height: 100%
    &__box
        height: 500px
        margin-top: 40px
        border-radius: 20px
        padding-top: 20px
        padding-bottom: 40px
        margin-bottom: 100px
        background: url('../assets/images/quiz/quiz__bg.png')
        background-size: 100% 100%
        box-shadow: 0 21px 21px 6px rgba(0, 0, 0, 0.13)

    &__box._modal
        box-shadow: none
        background: none
        border: none
        height: auto !important
    &__question
        margin: 0
        text-align: center
        text-transform: uppercase
        font-weight: 700
    &__answers
        margin-top: 20px
        &_mobile
            display: none
        // margin-top: 30px
    &__answer
        cursor: pointer
        margin-top: 10px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 170px
        &-img
            pointer-events: none
            img
                pointer-events: none
                width: 100%
        &-title
            pointer-events: none
            text-align: center
            font-size: 17px
            font-weight: 700
            text-transform: uppercase
            white-space: nowrap

        &-title._active
            background: linear-gradient(to bottom, #f0bf2c, #efd23f)
            color: white

    &__stage
        &_house-material
            .quiz__answer
                //height: 250px
                height: 170px
    &__stage
        &_size
            .quiz__answer-desc
                margin-top: -40px
                text-align: center
                font-size: 21px
                text-transform: uppercase
                font-weight: 700
                color: #dcdcdc
                opacity: 0
            .quiz__answer-desc._active
                opacity: 1
                transition: all 0.5s
            .quiz__answer-number
                text-transform: uppercase
                font-weight: 700
                font-size: 34px
            .quiz__answer-subtitle
                margin-top: 20px
                text-transform: uppercase
                text-align: center
                font-size: 14px
                font-weight: 700
            .quiz__answer_size-header
                display: flex
                justify-content: space-around
                align-items: center
            .quiz__answer-decrement,.quiz__answer-increment
                cursor: pointer

    &__stage
        &_roof-material
            .quiz__answer
                margin-top: 30px
                height: 115px
                &-img
                    img
                        width: 70px
                        height: 70px

    &__stage
        &_facing
            .quiz__answer
                &-img
                    img
                        width: 114px
                        height: 114px

    &__stage
        &_deadline
            padding: 0 1rem
            .quiz__answer
                margin-top: 40px
                height: auto
                &-title
                    text-align: left
                    font-size: 25px
                    span
                        color: #b3b3b3

    &__stage
        &_modal
            .modal__window
                margin-top: 0
                position: relative
                width: 100%

/** Интро в квизе ;_;
.intro
    //max-width: 1600px
    margin: auto
    &__title
        line-height: 1
        font-size: 43px
        font-weight: 700
        &_mobile
            display: none
    &__subtitle
        margin-top: 40px
        font-size: 26px
        font-weight: 500
        position: relative
        &::before
            content: ''
            position: absolute
            left: -13%
            top: 50%
            transform: translateY(-50%)
            background: url('../assets/images/intro/intro__line.png')
            width: 72px
            height: 3px
    &__items
        margin-top: 40px
        display: flex
        justify-content: flex-start
    &__item
        line-height: 1
        margin-right: 1.5rem
        &-img
            height: 100px
            margin-bottom: 10px
        &-title
            //height: 45px
            margin-bottom: 5px
            font-size: 15px
            font-weight: 700
            text-transform: uppercase
        &-desc
            font-size: 11px
            color: #b8b8b8
            font-weight: 500
    &__btn
        margin-top: 70px
        width: 350px
        font-size: 18px

.quiz__stage_roof-material
    .quiz__answer
        height: 136px
        justify-content: flex-start
        &-img
            margin-bottom: 1rem
@media screen and ( max-width: 991px )
    .quiz
        &__btn
            bottom: 0 !important
        &__box
            height: 870px
        &__stage
            &_house-material
                .quiz__answer
                    height: 200px
                    transform: scale(0.8)

@media screen and (max-width: 767px)
    .quiz
        &__box
            height: 700px !important
        &__btn
            position: absolute
            bottom: 10%
        &__answers_mobile
        .row > div
            height: 100%
        &__stage
            &_house-material
                .quiz__answer
                    margin-top: -38px
            &_deadline
                .quiz__answer
                    margin-top: 22px
                    &-title
                        font-size: 17px
        &__input-size-track
            margin-top: -28% !important

    .quiz
        margin-top: -200px
        &__input-size
            &::before
                left: 40px
                width: 210px
            &-base
                top: -70%
                transform: scale(0.8)
            &-line
                max-width: 200px
            &-track
                width: 200px
        &__success
            font-size: 25px
        &__box
            max-height: auto
        &__title
            font-size: 18px
        &__question
            font-size: 19px
        &__answers
            &_desktop
                display: none
            &_mobile
                display: block

        &__answer
            height: 148px
            &-img
                transform: scale(0.9)
            &-number
                font-size: 28px !important
        &__answer-title
            font-size: 12px

        &__stage
            &_house-type
                .quiz__aswer
                    height: 155px
            &_house-material
                .quiz__answer
                    //height: 180px
                    height: 100%
            &_size
                .quiz__answer
                    &-desc
                        font-size: 15px

            &_facing
                .quiz__answer
                    height: 140px
            &_deadline
                .quiz__answer
                    &-title
                        font-size: 17px

@media screen and ( max-width: 576px )
    .quiz__stage_roof-material .quiz__answer-title
        font-size: 10px

    .quiz
        &__stage
            &_facing
                .quiz__answer
                    transform: scale(0.75)

    .intro
        &__title
            margin-top: 20px
