.quiz
    margin-top: 200px
    &__input-size
        height: 80px
        margin: auto
        max-width: 502px
        margin-top: 40px
        position: relative
        &-base
            pointer-events: none
            content: ''
            position: absolute
            top: -78%
            left: 2%
            width: 13%
            height: 72px
            background: url('../assets/images/quiz/quiz__track-base.png')
            background-repeat: no-repeat
        &-line
            height: 20px
            margin-left: 13%
            margin-top: 16%
            // // background-position-x: -448px
            // content: ''
            // position: absolute
            // top: 75%
            // left: 13%
            // max-width: 89%
            // z-index: -1
            // height: 72px
            background: url('../assets/images/quiz/quiz__track-line.png') no-repeat
            // background-repeat: no-repeat
        input
            display: block
            margin-top: -3%
            cursor: grab
            width: 300px
            margin-left: 11%
            appearance: none
            // margin-left: -5px

            // position: absolute
            // bottom: 5%
            // outline: none !important
            // background: none
            // left: 13%
            // width: 87%
            // transform: scaleX(1.07)
            &:focus
                outline: none !important
                // border: none
                // background: none
            &::-webkit-slider-thumb
                // transform: translateX(-50%)
                appearance: none
                // outline: none !important
                // box-shadow: 0px 0px 0px #000
                // // border: 1px solid #2497E3
                height: 9px
                width: 10px
                // // border-radius: 25px
                // // background: #A1D0FF
                background: url('../assets/images/quiz/quiz__track.png')
                // cursor: pointer
                // -webkit-appearance: none
                // margin-top: 10px
        &::before
            content: ''
            position: absolute
            top: -39%
            left: 5%
            background: url('../assets/images/quiz/quiz__track-bg.png') no-repeat
            width: 100%
            height: 40px
            z-index: -1
        // &::after
        //     pointer-events: none
        //     content: ''
        //     position: absolute
        //     top: -135%
        //     left: 0
        //     width: 100%
        //     height: 50px
        //     background: url('../assets/images/quiz/quiz__answer3.png')
        //     background-repeat: no-repeat
    &__success
        color: #e6b315
        font-size: 34px
        text-align: center
        text-transform: uppercase
        font-weight: 700
        position: relative
        transform: scale(0)
        // box-shadow: 0px 27px 14px 23px rgba(161, 126, 21, 0.2)
    &__success._active
        transition: all 0.5s
        transform: scale(1)
        &::before
            content: ''
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            width: 39px
            height: 75px
            background: url('../assets/images/quiz/quiz__success-light-left.png')
        &::after
            content: ''
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)
            width: 39px
            height: 75px
            background: url('../assets/images/quiz/quiz__success-light-right.png')
    .modal__window
        max-width: 468px
        //width: 60%
        //margin-top: 200px
    &__stage
        overflow: hidden

        // transform: scale(0)
        // display: none
        // height: 0
        // width: 0
    &__stage._active
        // transition: all 0.5s
        // display: block
        // transform: scale(1)
        // height: auto
        // width: auto
        // display: block
    .img-center
        pointer-events: none
        display: block
        margin: auto
    &__title
        pointer-events: none
        margin-top: 100px
        text-align: center
        text-transform: uppercase
        font-weight: 700
    &__box
        margin-top: 40px
        border-radius: 20px
        padding-top: 20px
        padding-bottom: 40px
        margin-bottom: 100px
        background: url('../assets/images/quiz/quiz__bg.png')
        background-size: 100% 100%
        box-shadow: 0 21px 21px 6px rgba(0, 0, 0, 0.13)

    &__box._modal
        background: none
        box-shadow: none
        background: none
        border: none
        height: auto
    &__question
        margin: 0
        text-align: center
        text-transform: uppercase
        font-weight: 700

    &__btn
        margin-top: 50px
    &__answers
        &_mobile
            display: none
        // margin-top: 30px
    &__answer
        cursor: pointer
        margin-top: 10px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 170px
        &-img
            pointer-events: none
            img
                pointer-events: none
                width: 100%
        &-title
            pointer-events: none
            text-align: center
            font-size: 17px
            font-weight: 700
            text-transform: uppercase
            white-space: nowrap

    &__stage
        &_house-material
            .quiz__answer
                height: 250px
    &__stage
        &_size
            .quiz__answer-desc
                margin-top: -40px
                text-align: center
                font-size: 21px
                text-transform: uppercase
                font-weight: 700
                color: #dcdcdc
            .quiz__answer-number
                text-transform: uppercase
                font-weight: 700
                font-size: 34px
            .quiz__answer-subtitle
                margin-top: 20px
                text-transform: uppercase
                text-align: center
                font-size: 14px
                font-weight: 700
            .quiz__answer_size-header
                display: flex
                justify-content: space-around
                align-items: center

    &__stage
        &_roof-material
            .quiz__answer
                margin-top: 30px
                height: 115px
                &-img
                    img
                        width: 70px
                        height: 70px

    &__stage
        &_facing
            .quiz__answer
                &-img
                    img
                        width: 114px
                        height: 114px

    &__stage
        &_deadline
            padding: 0 1rem
            .quiz__answer
                margin-top: 40px
                height: auto
                &-title
                    text-align: left
                    font-size: 25px
                    span
                        color: #b3b3b3

    &__stage
        &_modal
            .modal__window
                margin-top: 0
                position: relative
                width: 100%

.quiz-header
    max-width: 1600px
    margin: auto
    &__title
        line-height: 1
        font-size: 43px
        font-weight: 700
        &_mobile
            display: none
    &__subtitle
        margin-top: 40px
        font-size: 26px
        font-weight: 500
        position: relative
        &::before
            content: ''
            position: absolute
            left: -13%
            top: 50%
            transform: translateY(-50%)
            background: url('../assets/images/intro/intro__line.png')
            width: 72px
            height: 3px
    &__items
        margin-top: 40px
        display: flex
        justify-content: flex-start
    &__item
        line-height: 1
        margin-right: 1.5rem
        &-img
            height: 100px
            margin-bottom: 10px
        &-title
            //height: 45px
            margin-bottom: 5px
            font-size: 15px
            font-weight: 700
            text-transform: uppercase
        &-desc
            font-size: 11px
            color: #b8b8b8
            font-weight: 500
    &__btn
        margin-top: 70px
        width: 350px
        font-size: 18px

@media screen and ( max-width: 1350px )
    .quiz-header
        &__item-title
            font-size: 13px
        &__title
            font-size: 37px

@media screen and (max-width: 991px)
    .quiz-header
        &__title
            font-size: 25px
        &__subtitle
            font-size: 20px
            &::before
                display: none
        &__items
            // justify-content: center !important
        &__item
            margin: 0 1rem
            &:first-child
                margin-left: 0
            &:last-child
                margin-right: 0

@media screen and (max-width: 767px)
    .quiz-header
        &__title
            display: none
            &_mobile
                line-height: 1.3
                display: block

        &__items
            justify-content: center !important
            flex-wrap: wrap
            text-align: center
        &__item
            margin: 0 1rem 1rem

            &:first-child
                margin-left: 0
            &:last-child
                margin-right: 0

    .quiz
        margin-top: 80px
        .swiper-button-next
            bottom: 15% !important
        &__box
            max-height: auto
        &__title
            font-size: 18px
        &__question
            font-size: 19px
        &__answers
            &_desktop
                display: none
            &_mobile
                display: block

        &__answer
            &-img
                transform: scale(0.9)
        &__answer-title
            font-size: 12px

        &__stage
            &_house-type
                .quiz__aswer
                    height: 155px
            &_house-material
                .quiz__answer
                    height: 180px
            &_size
                .quiz__answer
                    &-desc
                        font-size: 15px

            &_facing
                .quiz__answer
                    height: 140px
            &_deadline
                .quiz__answer
                    &-title
                        font-size: 20px

@media screen and ( max-width: 576px )
    .quiz__input
        &-size
            transform: scale(0.7,0.9)
            &-base
                width: 16%

    .quiz
        &__stage
            &_facing
                .quiz__answer
                    transform: scale(0.75)

    .quiz-header
        &__title
            margin-top: 20px
