.header-intro-bg
    padding-bottom: 100px
    background: url('../assets/images/header-intro-bg.png')
    background-repeat: no-repeat
    background-position: center top
    background-size: cover

.intro__bg-left
    &::before
        content: ''
        position: absolute
        top: 38%
        left: 0
        background: url('../assets/images/intro/intro__decor-left.png') no-repeat
        width: 222px
        height: 437px

.intro
    padding-bottom: 200px
    // bug
    overflow: hidden
    position: relative
    padding-top: 60px


    &__house
        z-index: 2
        position: absolute
        //top: 0
        //right: -2%
        width: 830px
        height: 1175px
        transform: scale(0.8)
        top: -15%
        right: -8%
        &::after
            // Я вшил новое дерево в картинку дома
            //content: ''
            //position: absolute
            //top: 28%
            //right: 2%
            //background: url('../assets/images/intro/intro__decor-right.png') no-repeat
            //width: 247px
            //height: 516px
        &-img
            width: 100%
            height: 100%
        &-materials
            position: absolute
            top: 7%
            left: 46%
            width: 316px
            height: 282px
            // background: red

    &__btn
        position: relative
        &::before
            content: ''
            position: absolute
            right: -99%
            bottom: 0
            width: 236px
            height: 153px
            background: url('../assets/images/intro/intro__decor-btn.png') no-repeat

.house
    &__point
        cursor: pointer
        position: absolute
        padding: 10px
        border-radius: 50%
        &::before
            content: ''
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            background: #0063ff
            border-radius: 50%
            padding: 5px
    &__roof
        top: 0
        right: 0
        border: 2px solid #000
        &::after
            content: ''
            position: absolute
            bottom: -83%
            left: -145%
            width: 30px
            height: 3px
            background: #000
            transform: rotate(134deg)
    &__roof:hover .house__modal
        transform: scale(1)
        transition: all 0.5s
    &__window
        top: 22%
        left: -4%
        border: 2px solid #fff
        &::before
            background: #ff9c00
    &__window:hover .house__modal
        transform: scale(1)
        transition: all 0.5s
    &__wall
        bottom: 0
        right: 37%
        border: 2px solid #fff
        &::before
            background: #ff9c00
    &__wall:hover .house__modal
        transform: scale(1)
        transition: all 0.5s
    &__modal
        // transition: all 0.5s //почему-то окно появляется, а не должно
        transform: scale(0)
        box-shadow: 0px 0px 20px -1px #000000
        max-width: 180px
        position: absolute
        left: -1056%
        top: -255%
        border-radius: 20px
        background: #fff
        padding: 10px
        z-index: 2
        &::after
            content: ''
            position: absolute
            top: 30%
            right: -11%
            background: #fff
            transform: rotate(90deg)
            width: 20px
            height: 20px
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%)
        &-title
            margin: 0
            font-size: 13px
            font-weight: 700
        &-desc
            margin: 0
            font-size: 13px
            font-weight: 500
    &__modal._active
        transform: scale(1)
        transition: all 0.5s

@media screen and ( max-width: 1700px )
    .intro
        &__btn
            &::before
                display: none

@media screen and (max-width: 1600px)
    .intro
        &::before
            display: none
        &__house
            transform: scale(0.80)
            top: -15%
            right: -8%
        &__btn
            &::before
                display: none

@media screen and (max-width: 1350px)
    .intro
        &__item-title
            font-size: 13px
        &__title
            font-size: 37px

        &__house
            transform: scale(0.7)
            top: -25%
            right: -13%

@media screen and ( max-width: 1199px )
    .intro
        &__house
            transform: scale(0.6, 0.7)
            top: -25%
            right: -27%
    .house
        &__point
            display: none

@media screen and ( max-width: 991px )
    .intro
        &__title
            font-size: 25px
        &__subtitle
            font-size: 20px
            &::before
                display: none
        &__items
            // justify-content: center !important
        &__item
            margin: 0 1rem
            &:first-child
                margin-left: 0
            &:last-child
                margin-right: 0
        &__house
            transform: scale(0.5, 0.6)
            top: -33%
            right: -45%

@media screen and ( max-width: 767px )
    .intro
        margin-top: -70px
        &::before
            display: block
            content: ''
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            background: url('../assets/images/intro/intro__decor-mobile.png') no-repeat
            width: 60px
            height: 140px
        &__item
            backdrop-filter: blur(5px)
            background: rgba(255, 255, 255, 0.1)
            border: 2px solid #efefef
            width: 100%
            padding: 20px
            position: relative
            backdrop-filter: blur(21px)
            border-radius: 10px
            background: rgba(255,255,255,0.4)
            &-img
                position: absolute
                right: 5%
                top: 50%
                transform: translateY(-50%) scale(0.8)
            &-title
                text-align: left
            &-desc
                text-align: left
        &__house
            transform: scale(0.3)
            right: -52%
            top: 9% !important
        &__title
            margin-bottom: 3rem
            display: none
            &_mobile
                line-height: 1.3
                display: block
        &__items
            justify-content: center !important
            flex-wrap: wrap
            text-align: center
        &__item
            margin: 0 1rem 1rem

            &:first-child
                margin-left: 1.5rem
                margin-right: 1.5rem
            &:last-child
                margin-left: 1.5rem
                margin-right: 1.5rem

@media screen and ( max-width: 576px )
    .intro
        &__house
            transform: scale(0.3)
            right: -80%
            top: -38%

@media screen and ( max-width: 507px )
    .intro
        &__house
            // top: -40%

@media screen and ( max-width: 434px )
    .intro
        &__house
            right: -100%

@media screen and ( max-width: 389px )
    .intro
        &__house
            right: -115%
            //top: -32%

@media screen and ( max-width: 357px )
    .intro
        &__house
            right: -128%
            //top: -32%

@media screen and ( max-width: 340px )
    .intro
        &__house
            right: -140%
            //top: -32%
// @media screen and ( max-width: 700px )
//     .intro
//         &__house
//             right: -52%

// @media screen and ( max-width: 576px )
//     .intro
//         &__house
//             transform: scale(0.3)
//             right: -90%
//             top: -38%

// @media screen and (max-width: 992px)
//     .intro
//         &__house
//             &-img
//                 height: 400px
//                 top: 0
//                 //right: -80%
//                 background-size: cover

.intro
    &__house
        top: 61px
        transform-origin: top center
