.intro
    margin-top: 60px
    display: flex
    &__house
        position: relative
        &-img
            position: absolute
            top: -18%
            right: -17%
            width: 800px
            height: 700px
            background: url('../assets/images/intro/intro__house3.png')

@media screen and ( max-width:1600px  )
    .intro
        &__house
            &-img
                transform: scaleY(0.85)
