body
    position: relative
    font-family: 'Montserrat'
    background: url('../assets/images/body__background.png')
    color: #000
    overflow-x: hidden !important

// *,*::after,*::before
//     border: 1px solid red

//components
@import ./components/modal
@import ./components/menu
@import ./components/quiz
@import ./components/btn

//sections
@import ./sections/header
@import ./sections/intro
@import ./sections/footer
