
body
    font-family: 'Montserrat'
    background: url('../assets/images/body__background.png')
    color: #000
    overflow-x: hidden

//components
@import ./components/menu
@import ./components/quiz
@import ./components/btn

//sections
@import ./sections/header
@import ./sections/intro
