<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<!-- Useful meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="robots" content="index, follow, noodp" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google" content="notranslate" />
		<meta name="format-detection" content="telephone=no" />
		<title>ЭльбрусДом</title>
	</head>
	<body>
		<div class="header-intro-bg"><%= _.template(require('../includes/header.html'))() %> <%= _.template(require('../includes/intro.html'))() %></div>
		<%=_.template(require('../includes/quiz.html'))() %> <%= _.template(require('../includes/footer.html'))() %>
	</body>
</html>
